@import "modal.css";

.modal label {
  font-family: 'IBM Plex Mono', monospace;
  display: block;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
}

.modal input {
  width: 100%;
  padding: 0.7rem 0.5rem;
  border: 2px solid #222;
  border-radius: 0;
  box-sizing: border-box;
}

.modal button[type='submit'] {
  display: block;
  background: #e54;
  border: none;
  border-radius: 4px;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  color: #fff;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 1rem;
  font-weight: bold;
}
